<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Fake_KS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>138F6BE41D75609000D23FD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>138F6BFD1D75609000D23FD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>138F6C081D75609100D23FD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
